body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: inherit; /* Наследование цвета фона */
    width: 100%;
}
.dashboard__container {
    margin: 0 auto; /* Центрирование контейнера */
}

.dashboard__container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title .title {
    font-size: 24px;
    /* font-weight: bold; */
    margin-right: 20px;
}

.search__input {
    margin-right: 20px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    transition: border 0.3s ease;
    background-color: #f5f5f5; /* Серый фон */
}

.search__input input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    background-color: #f5f5f5;
}

.search__input:focus-within {
    border: 1px solid #778bff;
}

.search__input .magnifier {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    width: 20px;
    height: 20px;
}

.search__input .magnifier__item {
    width: 100%;
    height: 100%;
    fill: #909090;
}

.search__input .keybind {
    width: auto;
    font-size: 18px;
    margin-left: auto;
    margin-right: 10px;
}

.search__input .keybind span {
    font-size: 15px;
}

.create-new-button {
    padding: 10px 20px;
    background-color: #778bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-new-button:hover {
    background-color: #5a6cdb;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}
