<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Admin</title>
    <script src="../src/utils/toasts.js" defer></script>
    <script src="/src/utils/dynamicImport.js"></script> 
    <script defer>loadModule('/src/components/Popups/CreateAdmin.js');</script>
</head>

<body>
    <div class="popup" id="adminPopup">
        <div class="popup__container">
            <div class="popup__container__head">
                <div class="head__title">Добавление админа</div>
                <div class="head__close" id="popupCloseButtonCreate">&times;</div>
            </div>
            <div class="popup__container__body">
                <form id="adminForm">
                    <div class="form-group">
                        <label for="fullName">ФИО:</label>
                        <input type="text1" id="fullName" name="fullName" placeholder="Фамилия Имя Отчество"
                            autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="role">Уровень (роль):</label>
                        <select id="AdminRole" name="AdminRole" required>
                            <option value="" style="display:none">Выберите роль</option>
                            <option value="Главный администратор">Главный администратор</option>
                            <option value="Модератор">Модератор</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль:</label>
                        <input type="password" id="password" name="password" placeholder="Введите пароль"
                            autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label for="secretWord">Секретное слово:</label>
                        <input type="text1" id="secretWord" name="secretWord" placeholder="Введите секретное слово"
                            autocomplete="off" required>
                    </div>
                    <button type="submit">Создать</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>