<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <script src="/src/utils/dynamicImport.js"></script> 
    <script defer>loadModule('/src/components/Popups/EditItem.js');</script>
</head>
<body>
    <div class="popup" id="editItemPopup">
        <div class="popup__container">
            <div class="popup__container__head">
                <div class="head__title" id="popupTitle">Редактирование</div>
                <div class="head__close" id="popupCloseButtonEdit">&times;</div>
            </div>
            <div class="popup__container__body" id="editContainer"></div>
        </div>
    </div>
</body>
</html>
