<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Popup.css">
    <title>Popup</title>
</head>
<body>
    <div class="popup">
        <div class="popup__container">
            <div class="popup__container__head">
                <div class="head__title" id="popupTitle">Popup Title</div>
                <div class="head__close" id="popupCloseButton">&times;</div>
            </div>
            <div class="popup__container__body" id="popupContent">Popup Content</div>
        </div>
    </div>

    <script src="Popup.js" defer></script>
</body>
</html>
