.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.active {
    display: block;
}

.popup__container {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px #9b9b9b85;
    border-radius: 8px;
    max-width: 90%; /* Максимальная ширина окна */
    max-height: 90%; /* Максимальная высота окна */
    overflow-y: auto; /* Включить вертикальную прокрутку при необходимости */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    justify-content: space-between; /* Равномерное распределение элементов */
}

.popup__container.active {
    max-width: auto; /* Автоматическая ширина окна при активации */
    max-height: auto; /* Автоматическая высота окна при активации */
}

.popup__container__head {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    font-size: 18px;
    margin-bottom: 20px;
}

.head__close {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear background-color;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: auto; 
}

.head__close:hover {
    background-color: rgb(240, 240, 240);
}


.popup__container__body form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 15px; /* Одинаковый отступ слева и справа */

}

.form-group {
    width: 48%; /* Для двух колонок */
    margin-bottom: 10px; /* Добавим немного отступа между элементами */
}

.form-group label {
    display: block;
    margin: 5px;
}

.form-group input[type="text1"],
.form-group input[type="password"],
.form-group select {
    width: calc(100% - 20px); /* Уменьшим немного ширину, чтобы учесть отступы */
    padding: 8px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Учтем padding в ширине элемента */
    height: 50px;
}

.form-group input[type="text1"]:focus,
.form-group input[type="password"]:focus,
.form-group select:focus {
    outline: none;
    border-color: #778bff;
}

button[type="submit"] {
    width: 97%; /* Сделаем кнопку шире */
    background-color: #778bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 50px;
    margin-top: 10px; /* Добавим отступ сверху */
}

button[type="submit"]:hover {
    background-color: #5a6cdb;
}


.popup__close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.remove-item__buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.cancel {
    background-color: #ccc;
}

.button.remove {
    background-color: #e74c3c;
    color: #fff;
}

.remove-item__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.cancel {
    background-color: #ccc;
    color: #333;
}

.button.remove {
    background-color: #e74c3c;
    color: #fff;
}
