/* toast.css */

:root {
  --loader-color: #dc3545; /* Красный цвет загрузки по умолчанию */
}

.toast {
  position: fixed;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 8px;
  top: 1em; /* Позиционирование уведомлений */
  right: 1em; /* Позиционирование уведомлений */
}

.toast-content-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.toast .toast-progress {
  height: 4px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: progress-animation linear;
}

.toast.paused .toast-progress {
  animation-play-state: paused;
}

.toast-success { 
  border-color: #28a745; 
  color: #155724;
  --loader-color: #28a745; 
}

.toast-danger { 
  border-color: #dc3545; 
  color: #721c24;
  --loader-color: #dc3545; 
}

.toast-warning { 
  border-color: #ffc107; 
  color: #856404;
  --loader-color: #ffc107; 
}

.toast-info { 
  border-color: #17a2b8; 
  color: #0c5460;
  --loader-color: #17a2b8;
}

.toast-light {
  color: #000;
}

.toast-dark {
  color: #fff;
}

.toast-loader {
  height: 4px;
  width: 100%;
  background-color: var(--loader-color);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: toast-loader-animation linear;
}

@keyframes toast-loader-animation {
  from {
      width: 100%;
  }
  to {
      width: 0;
  }
}

/* toast.css */
.toast-container {
  position: fixed;
  top: 1em; /* Расстояние сверху */
  right: 1em; /* Расстояние справа */
  z-index: 1000; /* Значение z-index для уведомлений */
  pointer-events: none; /* Прозрачность для событий мыши */
}

.toast {
  max-width: 300px; /* Максимальная ширина уведомления */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  pointer-events: auto; /* Включить события мыши для уведомлений */
  margin-bottom: 16px; /* Расстояние между уведомлениями */
  background-color: #fff; /* Цвет фона уведомления */
  border-left: 4px solid; /* Левая граница */
}

/* Стили для разных типов уведомлений */
.toast-success { border-color: #28a745; }
.toast-danger { border-color: #dc3545; }
.toast-warning { border-color: #ffc107; }
.toast-info { border-color: #17a2b8; }
