<form id="editItemForm">
    <div class="form-group">
        <label for="fullName1">ФИО:</label>
        <input type="text1" id="fullName" name="fullName" required>
    </div>
    <div class="form-group">
        <label for="role">Уровень (роль):</label>
        <select id="role" name="role" required>
            <option value="Главный администратор">Главный администратор</option>
            <option value="Администратор">Администратор</option>
        </select>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>

