<form id="editItemForm">
    <div class="form-group">
        <label for="departureAirport">Аэропорт вылета:</label>
        <select id="departureAirport" name="departureAirport" class="airport-select" required>
            <option value="">Выберите аэропорт вылета</option>
        </select>
    </div>
    <div class="form-group">
        <label for="destinationAirport">Аэропорт назначения:</label>
        <select id="destinationAirport" name="destinationAirport" class="airport-select" required>
            <option value="">Выберите аэропорт назначения</option>
        </select>
    </div>
    <div class="form-group">
        <label for="flightPlaneType">Самолет рейса:</label>
        <select id="flightPlaneType" name="flightPlaneType" required>
            <option value="">Выберите самолет</option>
        </select>
    </div>
    <div class="form-group">
        <label for="flightPrice">Цена рейса (эконом) ₽:</label>
        <input type="number" id="flightPrice" name="flightPrice" placeholder="Цена рейса" autocomplete="off" required>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>
<script src="src/utils/dynamicImport.js"></script>
<script defer>loadModule('src/components/EditPopupContent/EditFlightsContent.js')</script>
