.body__item {
    position: relative;
    width: 32.3%;
    max-height: 250px;
    background-color: #ffffff;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.107);
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    font-size: 14px;
    z-index: 0;
}

.body__item:hover .body__item__tools {
    opacity: 1;
    right: 10px;
    z-index: 101;
}

.table-item, tbody {
    width: 100%;
}

.table-item:hover .table-item__category__info {
    color: #ff6b00;
}

.table-item:first-child {
    margin-bottom: 6px;
}

.table-item tr {
    width: 100%;
    height: 28px;
}

.table-item td:first-child {
    width: 160px;
    text-align: start !important;
}

.table-item td:last-child {
    color: #343434;
    font-weight: 800;
    text-align: start;
    line-height: 1.1;
}

.plane_id {
    font-weight: 300;
    font-size: 13px;
    z-index: 100;
}

.status {
    margin-top: auto;
    width: 100%;
}

.status .status-type {
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: end;
}

.status .status-type.busy,
.status .status-type.free {
    padding: 5px 10px;
    border-radius: 8px;
}

.status .status-type.busy {
    border: 1px solid #ff6b00;
    color: #ff6b00;
}

.status .status-type.free {
    border: 1px solid #35AA3A;
    color: #35AA3A;
}

.status span {
    width: 100%;
}

.status tr td:first-child {
    width: 40%;
}

.body__item__tools {
    opacity: 0;
    width: auto;
    height: auto;
    position: absolute;
    right: 0px;
    top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.2s linear opacity, 0.2s linear right;
}

.body__item__tools .tool__item {
    width: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 14px 0px rgba(136, 136, 136, 0.20);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.body__item__tools .tool__item:hover {
    box-shadow: 0px 0px 14px 0px rgba(136, 136, 136, 0.33);
}

.body__item__tools .tool__item:not(:first-child) {
    margin-top: 10px;
}

.body__item__tools .tool__item img {
    width: 100%;
}

.flight-status {
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center !important;
}

.flight-status.active {
    border-color: #7d7d7d;
    color: #7d7d7d !important;
}

.flight-status.landed {
    border-color: #35AA3A;
    color: #35AA3A !important;
}

.flight-status.exprected {
    border-color: #ff8c00;
    color: #ff8c00 !important;
}

.flight-status.load {
    border-color: #ff1f1fb1;
    color: #ff1f1fb1 !important;
}

.plane-free {
    opacity: 0.2;
}

.search__result__item {
    width: 49.3%;
    padding: 4px 10px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px #e4e4e4;
}

.search__result__item tr {
    height: 30px;
    font-size: 14px;
}

.td__info {
    padding-left: 20px;
    font-weight: 700;
}

.td__info.active {
    color: #7d7d7d;
}

.td__info.landed {
    color: #35AA3A;
}

.td__info.exprected {
    color: #ff8c00;
}

.td__info.load {
    color: #ff1f1fb1;
}

.role.main {
    color: #ff6a008d !important;
}

.role.sub {
    color: #35AA3A8d !important;
}

.table-item__category {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.table-item__category__title {
    font-size: 13px;
    color: #3434348d;
    margin-bottom: 0px;
    line-height: 1.2;
}

.table-item__category__info {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    line-height: 1.1;
    transition: color linear 0.2s;
}

.table-item__badge {
    position: absolute;
    right: 0;
    top: 0;
}

.table-item__badge.green {
    background-color: #35aa3bd6;
    padding: 2px 4px;
    border-radius: 8px 0px 8px 8px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
