.progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.36); /* Прозрачный фон */
    backdrop-filter: blur(8px); /* Эффект размытия */
    transition: opacity 0.3s linear;
    z-index: -1; /* Устанавливаем под основным содержимым */

    &.transparent {
        background: transparent; /* Прозрачный фон */
    }
}

.circular-progress {
    position: relative;
    width: 80px;
    height: 80px;
}

.circular-progress__circle {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #007bff; /* Цвет заливки */
    animation: rotate 1s infinite linear; /* Анимация вращения */
}

.circular-progress__circle--delay {
    animation-delay: -0.5s; /* Задержка для второго круга */
}

@keyframes rotate {
    100% {
        transform: rotate(360deg); /* Вращение на 360 градусов */
    }
}
